.ok{
    background-color: lightblue;
    padding: 20px;  
    border: 15px solid red;
    margin: 0px;

}

.we{
    background-color: lightblue;
    padding: 20px;  
    border: 15px solid red;
    margin-left: 190px;
}
.so{
    background-color: lightblue;
    padding: 20px;  
    border: 15px solid red;
    margin-left: 381px;
}

